<div id="weapons" class="d-flex flex-column align-items-center justify-content-center">
    <div id="opponent-rock" class="opponent-weapons rock m-0 d-flex justify-content-center align-items-center">
        <img src="images/assets/batu.png" class="img-fluid m-1" width="80" alt="swipe-down">
    </div>
    <div id="opponent-paper" class="opponent-weapons paper m-2  d-flex justify-content-center align-items-center">
        <img src="images/assets/kertas.png" class="img-fluid m-1" width="80" alt="swipe-down">
    </div>
    <div id="opponent-scissors" class="opponent-weapons scissors m-0 d-flex justify-content-center align-items-center">
        <img src="images/assets/gunting.png" class="img-fluid m-1" width="80" alt="swipe-down">
    </div>
</div>