<div id="weapons" class="d-flex flex-column align-items-center justify-content-start">
    <div id="opponent-rock" class="opponent-weapons rock m-0  d-flex justify-content-center align-items-center" 
    <% if (opponentWeapon === 'rock') { %> style="background-color:#C4C4C4; border-radius:20%" <% } %>>
        <img src="images/assets/batu.png" class="img-fluid m-1" width="80" alt="swipe-down">
    </div>
    <div id="opponent-paper" class="opponent-weapons paper m-2 d-flex justify-content-center align-items-center" 
    <% if (opponentWeapon === 'paper') { %> style="background-color:#C4C4C4; border-radius:20%" <% } %>>
        <img src="images/assets/kertas.png" class="img-fluid m-1" width="80" alt="swipe-down">
    </div>
    <div id="opponent-scissors" class="opponent-weapons scissors m-0 d-flex justify-content-center align-items-center" 
    <% if (opponentWeapon === 'scissors') { %> style="background-color:#C4C4C4; border-radius:20%" <% } %>>
        <img src="images/assets/gunting.png" class="img-fluid m-1" width="80" alt="swipe-down">
    </div>
</div>