<div id="weapons" class="d-flex flex-column align-items-center justify-content-start">
    <div id="player-rock" class="player-weapons rock m-0 d-flex justify-content-center align-items-center"  
    <% if (weapon === 'rock') { %> style="background-color:#C4C4C4; border-radius:20%" <% } %>>
        <img src="images/assets/batu.png" class="img-fluid m-1" width="80" alt="swipe-down">
    </div>
    <div id="player-paper" class="player-weapons paper m-2 d-flex justify-content-center align-items-center"  
    <% if (weapon === 'paper') { %> style="background-color:#C4C4C4; border-radius:20%" <% } %>>
        <img src="images/assets/kertas.png" class="img-fluid m-1" width="80" alt="swipe-down">
    </div>
    <div id="player-scissors" class="player-weapons scissors m-0 d-flex justify-content-center align-items-center"  
    <% if (weapon === 'scissors') { %> style="background-color:#C4C4C4; border-radius:20%" <% } %>>
        <img src="images/assets/gunting.png" class="img-fluid m-1" width="80" alt="swipe-down">
    </div>
</div>
