<!-- Accordion for Features Page -->

<div id="feature-collapse">
    <div id="accordion" class="accordion d-flex flex-column">
        
        <!-- CARD 1 -->
        <div id="acc-card-1" class="accordion-card d-flex flex-column">
            <div id="acc-line">
                <div id="acc-bullet-1" class="acc-bullet"><img id="bullet-image-1"></div>
                <div id="vertical-line-1" class="vertical-line"></div>
            </div>
            <div id="acc-text">
                <div class="acc-title h3 colored-text">TRADITIONAL GAMES</div>
                <h4 id="acc-text-p1" class="acc-text-p">If you miss your childhood, we provide many traditional games here.</h4>
            </div>
        </div>

        <!-- CARD 2 -->
        <div id="acc-card-2" class="accordion-card d-flex flex-column">
            <div id="acc-line">
                <div id="acc-bullet-2" class="acc-bullet"><img id="bullet-image-2" src="images/assets/ellipse-outline.svg"></div>
                <div id="vertical-line-2" class="vertical-line"></div>
            </div>
            <div id="acc-text">
                <div class="acc-title h3 colored-text">GAME SUIT</div>
                <h4 id="acc-text-p2" class="acc-text-p">Choose your player</h4>
            </div>
        </div>


        <!-- CARD 3 -->
        <div id="acc-card-3" class="accordion-card d-flex flex-column">
            <div id="acc-line">
                <div id="acc-bullet-3" class="acc-bullet"><img id="bullet-image-3" src="images/assets/ellipse-outline.svg"></div>
                <div id="vertical-line-3" class="vertical-line"></div>
            </div>
            <div id="acc-text">
                <div class="acc-title h3 colored-text">TBD</div>
                <h4 id="acc-text-p3" class="acc-text-p">New Features Upcoming!</h4>
            </div>
        </div>
        
    </div>
</div>   