<!-- Navigation Bar for Newsletter Page Footer -->

<footer class="d-flex flex-column">
    <div id="newsletter-navigation">
        <div id="newsletter-footer-nav-1">
            <nav class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link active" style="color:white;" href="#home-subpage">MAIN</a></li>
                <li class="nav-item"><a class="nav-link active" style="color:white;" href="#games-subpage">GAMES</a></li>
                <li class="nav-item"><a class="nav-link active" style="color:white;" href="#features-subpage">FEATURES</a></li>
                <li class="nav-item"><a class="nav-link active" style="color:white;" href="#systems-subpage">SYSTEM REQUIREMENTS</a></li>                                
                <li class="nav-item"><a class="nav-link active" style="color:white;" href="#scorers-subpage">QUOTES</a></li>
            </nav>
        </div>
        <div id="newsletter-footer-nav-2">
            <nav class="nav justify-content-end">                    
                <li   li class="nav-item">
                    <a class="nav-link active" style="color:white;" href="/pageNotFound">
                        <img src="images/assets/facebook.svg"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color:white;" href="/pageNotFound">
                        <img src="images/assets/twitter_solid.svg"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color:white;" href="/pageNotFound">
                        <img src="images/assets/vector.svg"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color:white;" href="/pageNotFound">
                        <img src="images/assets/twitch.svg"></a>
                </li>
            </nav>
        </div>
    </div>
    <br>
    
    <!-- LINE -->
    <div id="footer-line"></div>
    <br>
    
    <!-- EPILOG -->
    <div class="d-flex justify-content-between pb-2">
        <h6 class="text-muted">&copy; 2018 Your Games, Inc. All Rights Reserved</h6>
        <div class="d-flex justify-content-center">
            <a style="text-align: center;" href="/pageNotFound"><h5>PRIVACY POLICY</h5></a>
            <h5>&nbsp;|&nbsp;</h5>
            <a style="text-align: center;" href="/pageNotFound"><h5>TERMS OF SERVICE</h5></a>
            <h5>&nbsp;|&nbsp;</h5>
            <a style="text-align: center;" href="/pageNotFound"><h5>CODE OF CONDUCT</h5></a>
        </div>
    </div>
</footer>